<html>
<head>

    <title>Homepage - Insightify</title>
    <link rel="icon" href="./logo/symbol_blue.png">
    <meta name="title" content="Insightify">
    <meta name="description" content="The website is an application simplify, translate, and paraphrase words using Google's Gemini.">
    <meta name="keywords" content="Insightify, NLP, OCR, ">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/homepage.css">
    <link rel="stylesheet" href="./css/footer.css">
    
    <script src="https://kit.fontawesome.com/ed08dfa832.js" crossorigin="anonymous"></script>

</head>

<body>
    
    <!-- TOP NAVIGATION BAR -->
    <header>
        <div class="logo_container">
            <a href="">
                <img class="logo" src="./logo/symbol+full_blue2.png" alt="logo">
            </a>
        </div>
        <div class="separator"></div>
                
        <nav class="nav">
            <div class="nav_links_container">
                <ul class="nav_list">
                    <li><a href="#section1" class="nav-link active">Home</a></li>
                    <li><a href="#section2" class="nav-link">Features</a></li>
                    <li><a href="#section3" class="nav-link">Support</a></li>
                    <li><a href="#section4" class="nav-link">Contact Us</a></li>
                    <li><a href="#section5" class="nav-link">FAQs</a></li>
                </ul>
            </div>
            
            <div class="login_signup_btn">
                <a href="./get_app.php" class="btn1" style="margin-right: 5px;">Download App</a>
                <a href="./login_signup.php" class="btn2">Sign in</a>
            </div>
        </nav>
    </header>


    <div class="homepage">
        <div class="content">
        
            <!-- ABOUT INSIGHTIFY -->
            <section id="section1">
                <div class="home">
                    <div class="home-text">
                        <h1><span class="span-text">Insightify: </span>Where complex texts become comprehensible</h1>
                        <p>Improve your literacy and understanding with a faster, simpler, and smarter Insightify. 
                            Dive in and explore the exciting new things Insightify has to offer today!</p>
                            <div class="main-btn">
                                <a href="./login_signup.php" class="btn1">Get Started</a>
                                <a href="./get_app.php" class="btn2">Download App</a>
                            </div>
                    </div>
            
                    <div class="home-img">
                        <img src="./img/img-insightify-homepage.png">
                    </div>            
                </div>


            <!-- FEATURES -->
            <section id="section2">
                <div class="feature_card">
                    <h1>Insightify's <span class="span-text">user-friendly</span> features</h1>
                    <p>Discover the power of Insightify with our suite of intuitive tools designed to enhance <br> your learning experience.</p>
                    <div class="feat_container">
                        <div class="feat_btn">
                            <i class="fas fa-retweet"></i>
                            <div>
                                <h2 class="name">Paraphrase</h2>
                                <h3 class="desc">rewrite sentences</h3> 
                            </div>
                        </div>
                        <div class="feat_btn">
                            <i class="fas fa-language"></i>
                            <div>
                                <h2 class="name">Translate</h2>
                                <h3 class="desc">change language</h3> 
                            </div>
                        </div>
                        <div class="feat_btn">
                            <i class="fas fa-pen-to-square"></i> 
                            <div>
                                <h2 class="name">Cite</h2>
                                <h3 class="desc">cite sources</h3> 
                            </div>
                        </div>
                        
                    </div>
                    <div class="feat_container">
                        <div class="feat_btn">
                            <i class="fas fa-magic"></i>
                            <div>
                                <h2 class="name">Simplifier</h2>
                                <h3 class="desc">rewrite sentences</h3> 
                            </div>
                        </div>
                        <div class="feat_btn">
                            <i class="fa-solid fa-check-double"></i>
                            <div>
                                <h2 class="name">Assessment</h2>
                                <h3 class="desc">test your knowledge</h3> 
                            </div>
                        </div>
                        <div class="feat_btn">
                            <i class="fa-solid fa-book"></i>
                            <div>
                                <h2 class="name">Flashcard</h2>
                                <h3 class="desc">make your own cards</h3> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>

            <!-- SUPPORT -->
            <section id="section3">
                <div class="support">
                    <p>Final Product</p>
                    <h1>We have designed a <span class="span-text">simple</span> and <br> <span class="span-text">modern</span> user interface</h1>
    
                    <div class="support-container">
                        <div class="support-img1">
                            <img class="side-image" src="./img/img1.png" alt="Support Side Image">
                        </div>
                        <div class="support-text">
                            <h1>Create a New Title</h1>
                            <p>Organize your works efficiently by creating a new title.
                                Simply enter a descriptive title for your work, the author name and genre, and it will be added to your title collection, ensuring that all your titles are neatly organized and readily available when you need them. 
                                Start by creating a new title and keep your projects sorted and easy to find!</p>
                        </div>
                    </div>
    
                    <div class="support-container2">
                        <div class="support-text">
                            <h1>Scan then Select Tool</h1>
                            <p>Forget the chaos of switching tabs. Insightify works where you do, so you can stay organized and enhance your learning experience in all your favorite applications. 
                                Scan the complex text and then select from the tools Insightify offers.</p>
                        </div>
                        <div class="support-img2">
                            <img class="side-image" src="./img/img2.png" alt="Support Side Image">
                        </div>
                    </div>
                    

                    <div class="center-container">
                        <div class="center-image">
                            <img class="side-image" src="./img/img3.png" alt="Support Side Image">
                            <img class="side-image2" src="./img/img4.png" alt="Support Side Image">
                            <img class="side-image" src="./img/img5.png" alt="Support Side Image">
                        </div>
                        <div class="center-bg">
                            <h2>New to Insightify?</h2>
                            <h1>Discover how to get started</h1>
                            <div class="tutorial-container">
                                <div class="tutorial-card">
                                    <div>
                                        <img class=tutorial-icon src="./img/ic_account-setup.png" alt="Tutorial Icon">
                                        <h3>Account Setup</h3>
                                        <p>Get started with Insightify's account setup process, including profile customization, ensuring personalized and secure usage.</p> 
                                        <a href="#" class="tut-btn">Learn more</a>
                                    </div>
                                </div>
                                <div class="tutorial-card">
                                    <div>
                                        <img class=tutorial-icon src="./img/ic_title-creation.png" alt="Tutorial Icon">
                                        <h3>Title Creation</h3>
                                        <p>Learn how to create descriptive titles for organized content storage, facilitating easy retrieval and management.</p> 
                                        <a href="#" class="tut-btn">Learn more</a>
                                    </div>
                                </div>
                                <div class="tutorial-card">
                                    <div>
                                        <img class=tutorial-icon src="./img/ic_collection.png" alt="Tutorial Icon">
                                        <h3>Collection Management</h3>
                                        <p>Master techniques for effectively managing your saved content, ensuring efficient organization and retrieval when needed.</p> 
                                        <a href="#" class="tut-btn">Learn more</a>
                                    </div>
                                </div>
                                <div class="tutorial-card">
                                    <div>
                                        <img class=tutorial-icon src="./img/ic_key-features.png" alt="Tutorial Icon">
                                        <h3>Key Features Overview</h3>
                                        <p>Discover Insightify's core functionalities, empowering diverse learning and knowledge retention.</p> 
                                        <a href="#" class="tut-btn">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>

            <!-- CONTACT -->
            <section id="section4">
                <div class="contact">
                    <h1>Get in touch with <span class="span-text">Insightify</span></h1>
                    <div class="contact-wrapper">
                        <div class="contact-form">
                            <h3>Send us a message</h3>
                            <form>
                                <div class="form-group">
                                    <input type="text" name="name" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="email" placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" placeholder="Write a Message"></textarea>
                                </div>
                                <button type="submit">Send Message</button>
                            </form>
                        </div>
                        <div class="contact-info">
                            <h3>Contact Information</h3>
                            <p><i class="fas fa-phone"></i>(02)7730-1000</p>
                            <p><i class="fas fa-envelope"></i>insightify_customersupport1@gmail.com</p>
                            <p><i class="fas fa-map-marker-alt"></i>Governor's Drive corner Aguinaldo Highway, Brgy. Sampaloc 1, Dasmariñas City, Cavite, Philippines</p>
                            <img class="map-image" src="./img/nu-dasma-map.png" alt="Map Image">
    
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- FAQs -->
            <section id="section5">
                <h2 class="title">Frequently <span class="span-text">Asked</span> Questions</h2>
                <div class="faq-container">
                    <img class="faq-image" src="./img/insightify-faqs.png" alt="FAQs Image">
                    <div class="question-and-answer">
                        <div class="faq">
                        <div class="question">
                            <h3>How does the app simplify complex texts?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Our app uses advanced Natural Language Processing (NLP) technologies to break down complex texts into simpler, more digestible versions. 
                                This helps users better understand and retain information, making learning more accessible and effective for a wide range of readers, including those with varying literacy levels.</h5>
                        </div>
                    </div>
    
                    <div class="faq">
                        <div class="question">
                            <h3>What is the role of OCR in your app?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Optical Character Recognition (OCR) technology in our app allows users to scan printed texts and convert them into editable and searchable digital formats. 
                                This enables users to quickly transform physical documents into simplified or translated versions, enhancing their learning experience by making information more accessible.</h5>
                        </div>
                    </div>
    
                    <div class="faq">
                        <div class="question">
                            <h3>Can the app help with creating study aids like flashcards and tests?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Yes, our app includes features to generate test and flashcards based on the content you are studying. 
                                These tools are designed to reinforce learning by providing interactive ways to review and assess understanding, making study sessions more efficient and effective.</h5>
                        </div>
                    </div>
    
                    <div class="faq">
                        <div class="question">
                            <h3>How accurate is the text translation feature?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Our text translation feature leverages state-of-the-art NLP models to provide accurate translations in multiple languages. 
                                While it aims to deliver precise and contextually appropriate translations, users should always review the translated text for any nuances or specific jargon relevant to their study material.</h5>
                        </div>
                    </div>
    
                    <div class="faq">
                        <div class="question">
                            <h3>Is the app suitable for all educational levels?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Yes, our app is designed to be versatile and beneficial for users at various educational levels, from primary school students to university scholars. 
                                By providing tools that cater to different learning needs, such as text simplification, translation, and study aids, the app supports a wide range of academic pursuits and enhances the learning experience for everyone.</h5>
                        </div>
                    </div>
    
                    <div class="faq">
                        <div class="question">
                            <h3>How does the app support students with different learning styles?</h3>
                            <svg width="15" height="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                            </svg>
                        </div>
                        <div class="answer">
                            <h5>Our app caters to various learning styles by offering a suite of tools that address different needs. Visual learners can benefit from flashcards, auditory learners from listening to simplified texts, and kinesthetic learners from interactive quizzes. 
                                This multi-faceted approach ensures that all students can find effective methods to engage with and retain their study material.</h5>
                        </div>
                    </div>
    
                    </div>
                </div>
            </section>

        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="footer_container">
    
            <div class="footer_columns">
    
                <div class="footer_column1">
                    <img src="./logo/symbol+full_blue.png">
                </div>
    
                <div class="footer_column2-4">
    
                    <div class="footer_header">
                        <!-- COLUMN 1 HEADER -->
                        <p>LET'S CONNECT</p>
    
                        <!-- COLUMN 2 HEADER -->
                        <p>CONTACT US</p>
    
                        <!-- COLUMN 3 HEADER -->
                        <p>DOWNLOAD INSIGHTIFY APP</p>
                    </div>
    
    
                    <div class="footer_text">
                        <p> Whether you need assistance with app functionalities, encounter technical issues, or want to share your experience, we are here to help. Your satisfaction is our priority, and we are committed to providing you with the best user experience. </p>
    
                        <div class="footer_column2">
                            <p><i class="fas fa-map-marker-alt icon-spacing"></i>Governor's Drive corner Aguinaldo Highway, Brgy. Sampaloc 1, Dasmariñas City, Cavite, Philippines</p>
                            <p><i class="fas fa-envelope icon-spacing"></i><a href="mailto:insightify_customersupport1@gmail.com">insightify_customersupport1@gmail.com</a></p>
                            <p><i class="fas fa-phone icon-spacing"></i>0921-253-1114</p>
                        </div>
                        
                        <div class="footer_column3">
                            <img src="./img/download_qr.png">
                            <p>Download the Insightify app now for free!</p>
                        </div>
                        
    
                    </div>
    
                </div>
    
            </div>
    
           
    
        </div>
    
    </footer>



    <!-- js/script file -->
    <script src="./js/nav_link_active.js"></script>
    <script src="./js/homepage_faqs.js"></script>
    
</body>
</html>